[Unit]
Description=Run daily shutdown at 9:15 pm

[Timer]
OnCalendar=21:15:00  # Schedule shutdown at 09:15 pm every day
Persistent=true

[Install]
WantedBy=timers.target
